{% extends 'base.html.twig' %}

{% block title %}Avenir Computer{% endblock %}

{% block body %}
<body class="">
<div class="d-flex card text-bg-dark ">
  <img src="{{asset('images/pcmain2.jpg')}}" class="width" alt="...">
  <div class="card-img-overlay text-center">
    <h1 class="text-orange ">AVENIR COMPUTER</h1>
    <p class="card-text text-white">REPARATION ET VENTE INFORMATIQUE</p>

  </div>
</div>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


</body>

{% endblock %}
