{% extends 'base.html.twig' %}

{% block title %}Avenir Computer{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portables</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Composants
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Accessoires</a></li>
            <li><a class="dropdown-item" href="#">Boitiers/Alims</a></li>
            <li><a class="dropdown-item" href="#">Carte mère</a></li>
            <li><a class="dropdown-item" href="#">Carte son</a></li>
            <li><a class="dropdown-item" href="#">Carte vidéo</a></li>
            <li><a class="dropdown-item" href="#">Clavier/Souris</a></li>
            <li><a class="dropdown-item" href="#">Disque dur</a></li>
            <li><a class="dropdown-item" href="#">Enceintes</a></li>
            <li><a class="dropdown-item" href="#">Graveur CD/DVD</a></li>
            <li><a class="dropdown-item" href="#">Imprimante</a></li>
            <li><a class="dropdown-item" href="#">Logiciel</a></li>
            <li><a class="dropdown-item" href="#">Mémoire</a></li>
            <li><a class="dropdown-item" href="#">Onduleur</a></li>
            <li><a class="dropdown-item" href="#">Processeur</a></li>
            <li><a class="dropdown-item" href="#">Réseau</a></li>
            <li><a class="dropdown-item" href="#">Routeur/Switch</a></li>
            <li><a class="dropdown-item" href="#">Scanners</a></li>
            <li><a class="dropdown-item" href="#">Ventilateur</a></li>
            
          </ul>
        <li class="nav-item">
          <a class="nav-link" href="#">Pc sur mesure</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
        <button class="btn btn-outline-warning" type="submit">Recherche</button>
      </form>
    </div>
  </div>
</nav>

<div class="example-wrapper">
    {#<h1>Hello {{ controller_name }}! ✅</h1>
    <h2>salut</h2>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/avenir_computer/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/avenir_computer/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>#}
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endblock %}
