{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} - Pc portable{% endblock %}
{#{% form_theme contactForm 'bootstrap_5_layout.html.twig' %}#}
{% block body %}

<body>
    <ul>
{% for portable in portables %}
    <li>

    <a href="{{ path('app_portable_show', { id: portable.id}) }}"> {{ portable.title }}</a>
 
    </li>
{% endfor %}
</ul>
  
</body>
{% endblock %}