{% extends 'base.html.twig' %}


{% block title %}Contactez-nous{% endblock %}
{#{% form_theme contactForm 'bootstrap_5_layout.html.twig' %}#}
{% block body %}

<body>
    <ul>
{% for portable in portables %}
    <li>
    {{ portable }}
    </li>
{% endfor %}
</ul>
  
</body>
{% endblock %}