{% extends 'base.html.twig' %}

{# ... #}
{% block title %}Connexion{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    
    <div class="container">
        <form class="form-control btn">
            <div class="row">
                <div class="col-md-6">
                    <label class="text-orange" for="username">Email:</label>
                    <input class="form-control btn input-white-bg text-orange" type="text" id="username" name="_username" value="{{ last_username }}">
                </div>
                <div class="col-md-6">
                    <label class="text-orange" for="password">Mot de passe:</label>
                    <input class="form-control btn input-white-bg text-orange" type="password" id="password" name="_password">
                </div>
            </div>

            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"> #}

            <button class="form-control btn" type="submit">Se connecter</button>

            <div>
                <a href="{{ path('app_forgot_password_request')}}">Mot de passe oublié?</a>
            </div>
        </form>
    </div>

    <style>
        .input-white-bg {
            background-color: #fff; /* Fond blanc */
        }

        /* Définir le fond lorsqu'un input est survolé */
        .input-white-bg:hover {
            background-color: #f0f0f0; /* Fond gris clair */
        }

        /* Définir le fond lorsqu'un input est actif */
        .input-white-bg:focus {
            background-color: #f0f0f0; /* Fond gris clair */
        }
    </style>
{% endblock %}
