{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if error %}
                <div class="alert alert-danger text-center" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

                        <h1 class="text-center mb-4 text-orange">Connexion</h1>
            
            <form action="{{ path('app_login') }}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label text-white">Email:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" style="background-color: white;">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label text-white">Mot de passe:</label>
                    <input type="password" id="password" name="_password" class="form-control" style="background-color: white;">
                </div>
                {# If you want to control the URL the user is redirected to on success
                <input type="hidden" name="_target_path" value="/account"> #}

                <button type="submit" class="btn btn-primary btn-block btn-custom">Se connecter</button>

                <div class="text-center mt-3">
                    <a href="{{ path('app_forgot_password_request')}}" class="text-white">Mot de passe oublié?</a>
                </div>
            </form> 
        </div>
    </div>
</div>
<style>
   .btn-custom:hover {
        background-color: white; /* Couleur de fond au survol */
        color: blue; /* Couleur du texte au survol */
    }
</style>
{% endblock %}
