{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Conditions de vente{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="text-orange">
    <h1>CONDITION DE VENTE</h1>
    </div>
    <div class="text-orange">
    <h2>PRIX ET FACTURATION</h2>
     </div>
     <div class="text-white">
    <p>Tous nos prix sont indiqués HT et TTC en €. La facture prend en compte les prix en vigueur au moment de la commande. Les prix sont fixés sur la base d'un paiement comptant à réception de la marchandise escompte déja déduit (3%). Nous nous réservons la possibilité de changer les produits présentés, et les prix sur le site sans préavis. Photos non contractuelles. En cas de non disponibilité d'un produit et dans le souci de vous servir plus rapidement, Avenir-Computer se réserve le droit : soit de vous rembourser le produit manquant, soit de vous l'échanger sans frais supplémentaire contre un produit de qualité et prix supérieur. Les produits livrés demeurent la propriété de Avenir-Computer SARL jusqu'à leur paiement intégral. Les marques citées sont la propriété des sociétés concernées.</p>
    </div>
    <div class="text-orange">
    <h2>GARANTIES</h2>
        </div>
      <div class="text-white">
    <p>Tous nos produits d'une valeur de plus de 40 € unitaire sont garantis 1 an minimum, soit par Avenir-Computer, soit par le constructeur. Les produits d'une valeur inférieure à 40 € sont garantis 1 mois par Avenir-Computer. Les produits doivent nous être retournés à vos frais et correctement protégés, tout produit arrivant abimé ne pouvant être pris en garantie. Nous assumerons quand à nous les frais de retour du produit chez le fournisseur puis chez vous... ATTENTION, VOUS NE DEVEZ PAS RETIRER LES ETIQUETTES QUI SE TROUVENT SUR LES PRODUITS, SOUS RISQUE D'ANNULATION DE LA GARANTIE!!!</p>
        </div>
    <div class="text-orange">
    <h2>FRAIS DEPORT</h2>
        </div>
      <div class="text-white">
    <p>Les frais de port sont offerts, pour la France métropolitaine, il vous sera simplement facturé 5 € TTC de frais d'assurance, garantissant le produit pendant son transport. En cas de paiement par contre remboursement des frais fixes de 20 € TTC seront ajoutés à la commande. Les envois à l'étranger sont facturés avec frais de port calculés lors de votre commande (les frais d'assurance sont compris dans les frais de ports facturés)</p>
        </div>
    <div class="text-orange">
    <h2>LIVRAISONS</h2>
        </div>
      <div class="text-white">
    <p>Les commandes seront expédiées dans un délai optimal, la moyenne constatée est de 4 jours ouvrés à plus ou moins 2 jours près, sauf événements indépendants de notre volonté (rupture prolongée, précommande, ...). Dans tous les cas, si suite à des problèmes de disponibilité sur des produits, nous ne pouvions respecter ces délais, vous pourrez à votre gré juger du maintien ou non de votre commande. De plus si la commande a été passée sur le site vous recevrez un e-mail vous notifiant la date de départ de nos locaux.</p>
            </div>
</div>
{% endblock %}
