@import "~bootstrap/scss/bootstrap";


a {
    text-decoration: none;
}

ul {
    list-style: none;
}
.dropdown-item:hover {
    background-color: rgb(255, 128, 24) !important; /* Changez la couleur de fond en vert lorsque survolé */
    
}
.btn-custom {
    background-color:rgb(255, 128, 24);
    color: white;
    /* Autres styles personnalisés si nécessaire */
}
.text-orange {
    color:rgb(255, 128, 24) !important;
   
    
}

.bg-home {
    background-color: white !important; /* Changez la couleur de fond en vert lorsque survolé */
    
}
