@import "~bootstrap/scss/bootstrap";


a {
    text-decoration: none;
}

ul {
    list-style: none;
}
.dropdown-item:hover {
    background-color: rgb(0, 140, 255) !important; /* Changez la couleur de fond en vert lorsque survolé */
    
}
.btn-custom {
    background-color:rgb(0, 140, 255);
    color: white;
    /* Autres styles personnalisés si nécessaire */
}
.text-orange {
    color:rgb(0, 140, 255) !important;
   
    
}

.bg-home {
    background-color: white !important; /* Changez la couleur de fond en vert lorsque survolé */
    
}

.nav-orange:hover {
    background-color: rgb(0, 140, 255) !important; /* Changez la couleur de fond en vert lorsque survolé */
    
}
.bg-avenir {
    background-color: rgb(0, 140, 255) ;
}

.pdaime {
    padding-top: 5rem;
   font-size: 10rem;
  
      color: white;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color:rgb(0, 140, 255);
  }

  .pdaime1 {
    padding-top: 1rem;
   font-size: 2.5rem;
  
      color: white;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color:rgb(0, 140, 255);
  }
  .pdaime2 {
    padding-top: 20rem;
   font-size: 4rem;
  
      color: white;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color:rgb(0, 140, 255);
  }

 
.imavenir {
  font-family: 'Playfair Display', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 50rem;
  max-height:35rem;
  width: 100%;
  color: white;
  text-align: right;
  font-size: 30px;
  
}
.imavenir * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.imavenir img {
  max-width: 100%;
  backface-visibility: hidden;
}
.imavenir figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: rgb(0, 140, 255);
  width: 40%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}
.imavenir figcaption:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 280px 280px 280px 0;
  border-color: transparent rgb(0, 140, 255) transparent transparent;
}
.imavenir:after {
  position: absolute;
  bottom: 50%;
  right: 40%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 120px;
  border-color: transparent transparent transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.imavenir h3,
.imavenir p {
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 0;
}
.imavenir h3 {
  margin: 0 0 5px;
  line-height: 1.1em;
  font-weight: 900;
  font-size: 1.4em;
  opacity: 0.75;
}
.imavenir p {
  font-size: 0.8em;
}
.imavenir i {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
  font-size: 44px;
  color: rgb(0, 140, 255);
  opacity: 0;
}
.imavenir a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.imavenir:hover img,
.imavenir.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.imavenir:hover:after,
.imavenir.hover:after,
.imavenir:hover figcaption,
.imavenir.hover figcaption,
.imavenir:hover i,
.imavenir.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

