{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Contact{% endblock %}
{#{% form_theme contactForm 'bootstrap_5_layout.html.twig' %}#}
{% block body %}

<div class="container">

<h1>contactez-nous</h1>

{{ form_start(form)}}

    {{form_widget(form)}}

    <button class="btn btn-secondary" formnovalidate>Envoyer</button>


{{ form_end(form)}}

</div>

{% endblock %}
