{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}
{#{% form_theme contactForm 'bootstrap_5_layout.html.twig' %}#}
{% block body %}

<div class="container">

<h1>contactez-nous</h1>

{{ form_start(form)}}

  

    <button class="btn btn-primary">Envoyer</button>


{{ form_end(form)}}

</div>

{% endblock %}
