 {# templates/order/history.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Historique de commandes{% endblock %}

{% block body %}
    <h1>Historique de commandes</h1>

    <ul>
        {% for order in orders %}
            <li><a href="{{ path('app_order_details', {'id': order.id}) }}">{{ order.id }} - {{ order.date|date('d/m/Y H:i') }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
